@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1;
    color: #333;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    word-break: keep-all;
}


.inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.sec {
    padding: 50px 0;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.table {
    width: 100%;
    border-top: 1px solid #ddd;
    border-collapse: collapse;
}

.table tr:nth-child(even) {
    background: #f9f9f9;
}

.table td {
    border-bottom: 1px solid #ddd;
    min-height: 30px;
    padding: 0 16px;
}

.table td~td {
    border-left: 1px solid #ddd;

    line-height: 24px;
}

.sec h2 {

    font-family: 'Yeongdo-Rg';
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
    line-height: 64px;
    text-align: center;
    color: #333;
    margin: 0 0 60px 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 3px;
        background: #91d5ff;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 3px;
        background: #91d5ff;
    }
}