.AllList {

    #map {
        border: 1px solid #ddd;
        margin: 0 0 60px 0;
    }

    .allgu {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;

        li {
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            background: #fff;

            strong {
                display: block;
                text-align: center;
                font-size: 16px;
                line-height: 24px;
                border-bottom: 1px solid #ddd;
            }
        }
    }
}

.MainGuMapSection {

    background: url(../images/boatsea.png) no-repeat center center/cover;

    #map {
        border: 1px solid #ddd;
        margin: 0 0 60px 0;
    }

    .gu {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 40px;

        li {
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            background: #fff;

            strong {
                display: block;
                text-align: center;
                font-size: 20px;
                line-height: 32px;
                border-bottom: 1px solid #ddd;
            }
        }
    }

}


.item_des {
    padding: 50px 0;

    .inner {
        h3 {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 0);
            display: inline-block;
            font-size: 32px;
            font-weight: 800;
            line-height: 64px;
            text-align: center;
            color: #333;
            margin: 0 0 40px 0;
        }

        .img_box {
            width: 800px;
            margin: 0 auto;

            img {
                border: 1px solid #ddd;
            }
        }

        .content {
            display: flex;
            max-width: 800px;
            margin: 0 auto;
            border: 1px solid #ddd;

            #map {
                width: 600px;
                border-right: 1px solid #ddd;
            }

            .table {
                border: none;

                .last {
                    border-bottom: none;
                }

            }


        }
    }
}